### `Ingeniería de Datos`
#### Transformación de datos

In [2]:
import pandas as pd
from collections import Counter

**Transformación 1**: Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [ ]:
lista_plataformas = ['datasets\\amazon_prime_titles.csv',
                    'datasets\\disney_plus_titles.csv',
                    'datasets\\hulu_titles.csv',
                    'datasets\\netflix_titles.csv']
inicial = ['a','d','h','n']

df_movies = pd.DataFrame()
#Usamos una iteración para cargar los cuatro archivos csv en un solo dataframe
for i in range(0,4): 
    df_plataforma = pd.read_csv(lista_plataformas[i])
    #Creamos el campo id concatenado (1er caracter + show_id)
    df_plataforma['id'] = inicial[i] + df_plataforma['show_id'] 
    #Agregamos los registros (peliculas) de la plataforma actual junto con el resto de plataformas
    df_movies = pd.concat([df_movies,df_plataforma]) 

print('Numero de registros del dataframe final:',  df_movies.shape[0] )

Cargamos los archivos de ratings en un solo dataframe

In [ ]:
lista_ratings = ['datasets\\ratings\\1.csv',
                    'datasets\\ratings\\2.csv',
                    'datasets\\ratings\\3.csv',
                    'datasets\\ratings\\4.csv',
                    'datasets\\ratings\\5.csv',
                    'datasets\\ratings\\6.csv',
                    'datasets\\ratings\\7.csv',
                    'datasets\\ratings\\8.csv']


df_scores = pd.DataFrame()
for i in range(0,8): #Usamos una iteración para cargar los cuatro archivos csv en un solo dataframe
    df_ratings = pd.read_csv(lista_ratings[i])
    df_scores = pd.concat([df_scores,df_ratings])
print('Numero de registros del dataframe final:',  df_scores.shape[0] )

In [ ]:
#Almacenamos los registros agregados en un archivo csv
df_scores.to_csv('datasets\\scores_consolidados.csv')

Calculamos el promedio de score de cada pelicula usando su campo movieId y los almacenamos temporalmente en un dataframe scores_promedios

In [ ]:
scores_promedios = df_scores.groupby('movieId')['rating'].mean().round(1).reset_index()
scores_promedios.head(5) #Vemos una muestra

In [ ]:
#Cambiamos el nombre del campo rating por score para identificarlo mejor al agregarlo a otro dataframe
scores_promedios.rename(columns={'rating':'score'},
               inplace=True)
scores_promedios.head(2)

In [8]:
df_scores = pd.read_csv('datasets\\scores_consolidados.csv')

In [9]:
df_scores.head(50)

    Unnamed: 0  userId  rating   timestamp movieId
0            0       1     1.0  1425941529   as680
1            1       1     4.5  1425942435  ns2186
2            2       1     5.0  1425941523  hs2381
3            3       1     5.0  1425941546  ns3663
4            4       1     5.0  1425941556  as9500
5            5       1     4.0  1425942148  as3004
6            6       1     4.5  1425941300  ns8282
7            7       1     5.0  1425941593  as6112
8            8       1     4.0  1425941601   hs327
9            9       1     4.0  1425942228  ns1358
10          10       1     5.0  1425941434  ns7360
11          11       1     5.0  1425941397  ns3980
12          12       1     4.0  1425942005   ns128
13          13       1     3.5  1425941313  ns3830
14          14       1     4.0  1425942007  as5517
15          15       1     5.0  1425941502  as1577
16          16       1     5.0  1425941464  hs2056
17          17       1     5.0  1425942139  ns5413
18          18       1     5.0  1425942699  as6909
19          19       1     5.0  1425942133  as4340
20          20       1     2.5  1425942647  as8902
21          21       1     5.0  1425942618   hs871
22          22       1     5.0  1425941424  ns5624
23          23       1     5.0  1425941382  ns8584
24          24       1     0.5  1425942640  as7193
25          25       1     4.0  1425941667   ds853
26          26       1     5.0  1425941336  ns1310
27          27       2     3.0   867039249  ns5228
28          28       2     3.0   867039168  ns5355
29          29       2     2.0   867039166  hs1581
30          30       2     3.0   867039325  ns4446
31          31       2     4.0   867039612  ns8778
32          32       2     4.0   867039325  ns2462
33          33       2     3.0   867039168   hs589
34          34       2     4.0   867039249  as8906
35          35       2     5.0   867041296  as2307
36          36       2     4.0   867041121  as2200
37          37       2     4.0   867039973  as2064
38          38       2     4.0   867039325  ns3954
39          39       2     4.0   867039167  ns3429
40          40       2     3.0   867039325  ns3522
41          41       2     3.0   867039165  as7276
42          42       2     1.0   867039249  hs1914
43          43       2     1.0   867039288  as9455
44          44       2     4.0   867039325   ds139
45          45       2     4.0   867039820   ds319
46          46       2     5.0   867039288  ns7879
47          47       2     3.0   867040824  as9099
48          48       2     2.0   867040735  ns5772
49          49       3     3.0  1048076925  ns4695

**Transformación 2**: Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [ ]:
df_movies.fillna({'rating': 'G'}, inplace=True) # Sustituimos los valores nulos (NaN) del campo rating por el string 'G'

In [ ]:
print(df_movies.info()) #Consultamos el total nulos para verificar que se aplicó la transformación en 'rating'

**Transformación 3**: De haber fechas, deberán tener el formato AAAA-mm-dd

In [ ]:
df_movies['date_added'].head(50) #Consultamos algunos registros para verificar formato de la fecha

In [ ]:
def numero_mes(string):  #Creamos una función que reciba el nombre del mes y retorne su numero en formato string
    meses =['January','February','March','April','May','June','July','August','September','November','December']
    string = string.rstrip()
    if string in meses:
        if   (meses.index(string)+1)<10:
            posicion = '0'+str(meses.index(string)+1) #Concatenamos el cero a la derecha cuando el mes sea de un digito 
        else:
            posicion = str(meses.index(string)+1)
        return(posicion)
    else:
        return('00')


for i,registro in df_movies.iterrows():
    if not pd.isna(registro['date_added']): # Verificamos que el dato fecha no sea nulo (NaN)
        string_date = str(registro['date_added']) # Forzamos que sea un string para poder manipular caracter a caracter con slice
        year = string_date[-4:]
        month = numero_mes(string_date[:-8])
        day = string_date[-8:-6]
        if int(day)<10:
            day = '0'+ day.lstrip() #Concatenamos el cero a la derecha cuando el dia sea de un digito
        fecha= year +'-'+ month +'-' + day
        df_movies.loc[i,'date_added']=fecha #Modificar la fila del dataframe original utilizando loc o iloc

In [ ]:
df_movies['date_added'].head(50) #Verificamos el formato de algunos registros o filas

**Transformación 4**: Los campos de texto deberán estar en minúsculas, sin excepciones

In [ ]:
df_movies.head(2) #Consultamos algunos registros para verificar cuales son los campos tipo texto

In [ ]:
#Aplicamos la funcion lower() a los campos de tipo string que se requieren en minusculas
df_movies['type'] = df_movies['type'].str.lower()
df_movies['title'] = df_movies['title'].str.lower()
df_movies['director'] = df_movies['director'].str.lower()
df_movies['cast'] = df_movies['cast'].str.lower()
df_movies['country'] = df_movies['country'].str.lower()
df_movies['rating'] = df_movies['rating'].str.lower()
df_movies['duration'] = df_movies['duration'].str.lower()
df_movies['listed_in'] = df_movies['listed_in'].str.lower()
df_movies['description'] = df_movies['description'].str.lower()
df_movies.head(2) # Verificamos que se realizó la trasnformación consultando algunos registros


**Transformación 5**: El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [ ]:
#Creamos los campos duration_int y duration_type a partir del campo duration
df_movies[['duration_int','duration_type']]=df_movies.duration.str.split(expand=True)
df_movies.head(2) # verificamos que fueron creados

In [ ]:
#Eliminamos el campo duration ya que no se va a usar en adelante
df_movies.drop(['duration'], axis = 'columns', inplace=True) 
df_movies.head(1) # verificamos que el campo duration fue eliminado

In [ ]:
print(df_movies['duration_int'].dtypes, "\n")  #Verificamos el tipo de datos del campo duration_int antes de la transformación

In [ ]:
df_movies.fillna({'duration_int': '0'}, inplace=True)             # Sustituimos los valores nulos (NaN) del campo  por ceros
df_movies['duration_int'] = df_movies['duration_int'].astype(int) # Convertimos el tipo del campo a  entero
print(df_movies['duration_int'].dtypes, "\n")     #Verificamos el tipo de datos del campo duration_int despues de la trasnformación

Agregamos el campo score (promedios) de peliculas al dataframe de las plataformas

In [ ]:
scores_promedios = pd.read_csv('datasets\\scores_promedios.csv')

In [ ]:

# Realizamos un merge de los dos dataframes utilizando el campo 'id' y 'movieId' como llaves de unión
df_movies = df_movies.merge(scores_promedios[['movieId', 'score']], left_on='id', right_on='movieId', how='left')

# Renombramos el campo 'score' como 'review_score'
df_movies = df_movies.rename(columns={'score': 'review_score'})

# Eliminamos el campo 'movieId'
df_movies = df_movies.drop('movieId', axis=1)

In [ ]:
# df_movies.to_csv('movies_tratada.csv', header=True, index=False)

In [ ]:
#Hacemos una copia de respaldo de las trasnformaciones realizadas
df_movies.to_csv('datasets\\movies.csv')

### Prueba de consultas

Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN.

In [3]:
df_movies = pd.read_csv('datasets\\movies.csv')

In [5]:
df_movies.head(1)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,duration_int,duration_type,review_score
0,0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-09-25,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,3.5

In [ ]:
df_movies.info()

Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [ ]:
# df_movies = pd.read_csv('..\datasets\movies_scores.csv')
plataforma = 'Netflix'
anno = 2016
tipo_duracion ='min'
#Tomamos el primer caracter del nombre de la plataforma
id_plataforma = plataforma[0].lower()
# Creamos un dataframe df_plataforma solo con los registros de la plataforma indicada
df_plataforma = df_movies[df_movies['id'].str[0] == id_plataforma] 
# Creamos un df_filtered solo con las condiciones solicitadas
df_filtered = df_plataforma[(df_plataforma['duration_type']==tipo_duracion)&(df_plataforma['release_year']==anno)] 
# Ordenamos  df_filtered desendentemente por la columna duration_int 
df_filtered = df_filtered.sort_values(by=['duration_int'], ascending=[False])
pelicula_max = df_filtered.iloc[0, df_filtered.columns.get_loc('title')]
pelicula_max

Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [ ]:
plataforma = 'Netflix'
anno = 2016
score = 3.0

id_plataforma = plataforma[0].lower()
# Creamos un dataframe df_plataforma solo con los registros de la plataforma indicada
df_plataforma = df_movies[df_movies['id'].str[0] == id_plataforma] 
# Creamos un df_filtered solo con las condiciones solicitadas
df_filtered = df_plataforma[(df_plataforma['review_score'] > score)&(df_plataforma['release_year']==anno)] 
#Contamos el numero de registros del dataframe que cumple todas las condiciones
cantidad= df_filtered.shape[0]
cantidad

Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [ ]:
plataforma = 'Netflix'
id_plataforma = plataforma[0].lower()
# Crear un dataframe solo con los registros del rating (clasificacion) indicado
df_plataforma= df_movies[df_movies['id'].str[0] == id_plataforma]
#Contamos el numero de registros del dataframe que cumple todas las condiciones
cantidad= int(df_plataforma.shape[0])
cantidad

Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [ ]:
plataforma = 'Netflix'
anno = 2016
id_plataforma = plataforma[0].lower()
# Crear un dataframe solo con los registros de la plataforma indicada
df_plataforma= df_movies[(df_movies['id'].str[0] == id_plataforma)
                            &(df_movies['release_year']==anno)] 
# Creamos una lista con todas las palabras en el campo 'actores'
palabras = [palabra for registro in str(df_plataforma['cast']) for palabra in registro.split(',') if palabra.strip() ]

# Contamos las ocurrencias de cada palabra en la lista
conteo_palabras = Counter(palabras)
# Obtenemos la palabra que más se repite
actor_max = conteo_palabras.most_common(1)[0][0]
actor_max

In [ ]:
# Creamos el dataframe de ejemplo


# Creamos una lista con todas las palabras en el campo 'actores'
palabras = [palabra for registro in df_movies['cast'] for palabra in registro.split(",")]

# Contamos las ocurrencias de cada palabra en la lista
conteo_palabras = Counter(palabras)

# Obtenemos la palabra que más se repite
palabra_max = conteo_palabras.most_common(1)[0][0]

# Imprimimos la palabra que más se repite
print('La palabra que más se repite en el campo "actores" es:', palabra_max)